@import "../globals.scss";

.carousel{
  background-color: rgba(30, 30, 30, .2)
}

.titleSection {
  //text-shadow: 0rem 0.1rem rgba(0, 0, 0, 0.25);
  color: #dcd2d2;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  padding: 2rem;
}

.tab-1{
  padding: 2rem;
}

.bullet-icon path{
  @include elevated-1px; 
}
