@import "../globals.scss";

.carousel{
  background-color: rgba(30, 30, 30, .2)
}

.titleSection {
  //text-shadow: 0rem 0.1rem rgba(0, 0, 0, 0.25);
  color: #dcd2d2;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  padding: 2rem;
}

.tab-1{
  padding: 2rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.tab-1 .bulletElement{
  margin-top: .5rem;
  margin-bottom: .5rem;
}


.tab-1 .bulletElement:first-child{
  margin-top: 0;
}

.tab-1 .bulletElement:last-child{
  margin-bottom: 0;
}

.bullet-icon path{
  @include elevated-1px; 
}
