.bulletElement {
    text-align: left;
}

.bulletTitle {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: left;
}

.bulletTitle h3, h4 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

h4 {
    color: #dcd2d2;
}