@import "../globals.scss";

.bulletElement {
    text-align: left;
    display: grid;
    grid-template-areas: 
        "icon title" 
        "null description";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    grid-column-gap: 1rem;
    font-family: "Inria sans", sans-serif;
}

.bulletTitle {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: left;
    grid-area: title;
}

.bullet-icon {
    grid-area: icon;
    height: 32px;
    width: 32px;
    color: $accent-color;
}

.bulletTitle h3, h4 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin: .2rem;
}

.bullet-content{
    grid-area: description;
}

h4 {
    color: $grey-text-color;
}
