@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&display=swap');
@import "../globals.scss";

.btn {
  background: radial-gradient(
      375% 422.81% at 10% 18.75%,
      #6ccfdb 0%,
      rgba(0, 255, 41, 0.8) 100%
    );
  @include elevated-1px;
  padding: 0.45rem 1rem;
  font-family: 'Inter', sans-serif;
  border-radius: 4px;
  border: 0;
	font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
  color: #FFFFFF;
}