.card {
  background-color: rgb(255, 0, 0);
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.856);
  padding: 1rem;
  width: 20rem;
  transition: background-color 0.25s;
}

.card:hover {
  background-color: rgb(255, 173, 173);
}
