@import "../globals.scss";
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&display=swap');

/* Variables */
$header-padding: .5rem;

.header{
	width: calc(100% - 2*$header-padding);
	height: 3rem;
	display: flex;
	padding: .5rem;
	align-items: center;
	justify-content: center;
	font-family: 'Inria Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
	z-index: 40;
	@include elevated-1px;
	@include glassy;
	position: sticky;
	top: 0
}

.header h1 a{
	text-decoration: none;
	color: white;
	@include elevated-1px;
}

.text-green{
	color: $accent-color;
}
