@import "../globals.scss";

.input {
    min-width: 70%;
    display: grid;
    padding: 1rem 1rem;
    background: rgba(255, 255, 255, 0.4);
    border-radius: $border-radius;
    border: 0;
    @include glassy;
    @include elevated-1px;
    font-size: 20px;
}

::placeholder{
    color: rgb(59, 59, 59);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: left;
}

.input-big-input {
    height: 30rem;
}

.input:focus-visible{
    border: 0;
    outline: none;
}

.area{
    min-height: 10rem;
}

.form-field {
    resize: none;
}