@import "../globals.scss";

$default-padding: .5rem;

.tab-wrapper{
	@include glassy;
	display: flex;
	flex-direction: column;
	width: calc(100% - 2*$default-padding);	
	padding: $default-padding;
}

.tab-nav{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .5rem;
}

.tab{
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	min-height: 42rem;
	justify-content: center;
	align-items: center;
}

.hide{
	display: none;
}

.nav-dot{
	border-radius: 25px;
	width: 20px;
	height: 20px;
	margin-left: .5rem;
	margin-right: .5rem;
	@include transparent-80-white;
	@include elevated-1px;
	@include glassy;
}

.nav-dot:first-child{
	margin-left: 0;
}

.nav-dot:last-child{
	margin-right: 0;
	transition: width 150ms, height 150ms;
}

.nav-dot[active="true"]{
	background-color: rgba(229, 229, 224, 1);
	width: 24px;
	height: 24px;
}


@media screen and(min-width: 950px){
	.tab{
		min-height: 20rem;
	}
}